<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean  id="rocketmqConsumer" class="com.ace.trade.rocketmq.AceTradeMQConsumer" init-method="init">
            <property name="consumerGroupName" value="aceTrdeMQconsumer" />
            <property name="namesrvAddr" value="127.0.0.1;127.0.0.2"/>
        </bean>
</beans>